<% provide(:title, 'Events') %>
<%= content_tag :div, :class => "row-fluid" do %>
  <%= content_tag :h1, "Events" %>
  <%= content_tag :div, :class => "span12" do %>
    <%= content_tag :div, :class => "row-fluid" do %>
      <%= content_tag :div, :class => "span9" do %>
        <%= gmaps("map_options" => {
            "detect_location" => true,
            "auto_adjust" => "true", 
            "auto_zoom" => false, 
            "zoom" => 2, 
            "detect_location" => false}, 
          "markers" => {
            "data" => @json, 
            "options" => {
              "rich_marker" => true, 
              "do_clustering" => true 
            } 
          }) %>
      <% end %> <!-- div span9 -->
      <%= content_tag :div, :class => "span3" do %>
        lateral panel upper
      <% end %> <!-- div span3 -->
    <% end %> <!-- div row-fluid -->
    <%= content_tag :div, :class => "row-fluid" do %>
      <%= content_tag :div, :class => "span9" do %>
        <% if @event %>
        <h3> Event: <%= @event.name %></h3>
        <% else %>
        Please, select an event
        <% end %>
        <%= content_tag :div, :class => "row-fluid" do %>
          <%= content_tag :div, :class => "span4", :id => "tweetsPanel" do %>
            <% if @event %>
              <%= render 'tweets_panel' %>
            <% end %>
          <% end %> <!-- div tweetsPanel -->
          <%= content_tag :div, :class => "span8", :id => "summaryPanel" do %>
            <% if @event %>
              <%= render 'summary_panel' %>
            <% end %>
          <% end %> <!-- div summaryPanel -->
        <% end %> <!-- div row-fluid -->
      <% end %> <!-- div span9 -->
      <%= content_tag :div, :class => "span3" do %> 
        lateral panel bottom
      <% end %> <!-- div span3 -->
    <% end %> <!-- div row-fluid -->
  <% end %> <!-- div span12 -->
<% end %> <!-- div row-fluid -->

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
handleMarkerClickClosure = function(marker) {
  return function() {
    $.get(this.href, {id: marker.title, page: 1, summary: true, tweets: true, statistics: true, videos: true, images: true}, null, 'script');
    return false;
  }
};

Gmaps.map.callback = function() {
  for (var i = 0; i <  this.markers.length; ++i) {
    google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', handleMarkerClickClosure(Gmaps.map.markers[i]) );
  }
};
</script>
<% end %>
