<h1>Events</h1>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span9">
    <%= gmaps("map_options" => {"detect_location" => true, "auto_adjust" => "true", "auto_zoom" => false, "zoom" => 2, "detect_location" => false}, 
        "markers" => {"data" => @json, "options" => {"rich_marker" => true, "do_clustering" => true } }) %>
    <% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
handleMarkerClickClosure = function(marker) {
  return function() {
    $.get(this.href, {id: marker.title, summary: true}, null, 'script');
    return false;
  }
};

Gmaps.map.callback = function() {
  for (var i = 0; i <  this.markers.length; ++i) {
    google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', handleMarkerClickClosure(Gmaps.map.markers[i]) );
  }
};
</script>
    <% end %>
      </div>
      <div class="span3">lateral panel upper</div>
    </div>
    <div class="row-fluid">
      <div class="span9">
        <% if @event %>
        <h3> Event: <%= @event.name %></h3>
        <% else %>
        Please, select an event
        <% end %>
        <div class="row-fluid">
          <div class="span6" id="tweetsPanel">
            <% if @event %>
              <%= render 'tweets_panel' %>
            <% end %>
          </div>
          <div class="span6" id="summaryPanel">
            <% if @event %>
              <%= render 'summary_panel' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="span3">lateral panel bottom</div>
    </div>
  </div>
</div>

  <!--<aside class="span4">
    <%= render 'lateral_panel' %>
  </aside>-->
